@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    background-color: #95C8D1;
    margin: 0;
    padding: 0;
    
}

.top-box {
    height: 80px;
    width: 100%;
    font-size: 50px;
    background-image: linear-gradient(#95C8D1, #254950);
}

.top-box p {
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;

}

.logo {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;  
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

main {
    color: #fff;

}

.redonda {
    border-radius: 50px;
}

.styling {
    text-align: center;
}

#container1 {
    display: flex;
    flex-direction: row;
    margin: 25px;
    padding-left: 200px;
    padding-right: 100px;
    justify-content: center;
    
}
#container1 p {
    padding-left: 100px;
    
}

#container2 {
    display: flex;
    flex-direction: row;
    margin: 25px;
    padding-left: 200px;
    padding-right: 100px;
    justify-content: center;
}

#container2 p {
    padding-left: 100px;
    
}

#container3 {
    display: flex;
    flex-direction: row;
    margin: 25px;
    padding-left: 200px;
    padding-right: 100px;
    justify-content: center;
}

#container3 p {
    padding-left: 100px;
    
}

.release-date {
    text-align: center;
}

footer {
    letter-spacing: 1px;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 3.5rem;
}
@media (max-width: 999px) {
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width:50vw;
        height: 92vh;
        background: #95C8D1;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }

    main {
        display: flex;
    }

    .div-video{
        width: 200px;
        height: 200px;
        padding: 10px;
        margin: 0;
    }
    
    #footer_contacts h1 {
        margin-bottom: 0.75rem;
    }

    #footer_social_media {
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;

    }
    
    #footer_social_media .footer-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        color: var(--color-neutral-40);
        border-radius: 50%;
        transition: all 0,4s;
    }

    #footer_social_media .footer-link:hover {
        opacity: 0.8;

    }

    button {
        border-color: #fff;
    }

    #email {
        color: #fff;
        border-color: #fff;
    }

    


}